{% extends 'base.html' %}

{% block content %}

    <p>
        The Central Board of Secondary Education (CBSE) is a national educational board in India that governs and manages a large number of public and private schools across the country. CBSE is responsible for prescribing the curriculum, conducting examinations, and providing academic guidelines for affiliated schools.

        CBSE schools follow the curriculum prescribed by the CBSE board, which is designed to provide a holistic education and prepare students for various competitive examinations. The board conducts two major examinations: the All India Secondary School Examination (AISSE) for Class 10 and the All India Senior School Certificate Examination (AISSCE) for Class 12.
        
        CBSE schools are known for their focus on academic excellence and comprehensive education. They aim to develop students' knowledge, critical thinking skills, and overall personality. In addition to academics, CBSE schools often offer a range of co-curricular activities such as sports, arts, music, and cultural events to provide a well-rounded education.
        
        One notable feature of CBSE schools is the emphasis on continuous and comprehensive evaluation (CCE), which assesses students based on their overall performance rather than just a single examination. This approach encourages students to be actively involved in the learning process throughout the academic year.
        
        CBSE schools are spread across India and even have a presence in some international locations. They cater to students from various backgrounds and offer education in both English and Hindi medium. These schools often have well-trained teachers, modern infrastructure, and access to educational resources to support effective teaching and learning.
        
        Overall, CBSE schools are recognized for providing quality education and preparing students for higher education and future career opportunities.
    
    </p>

{% endblock  %}
