<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CBSE</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="top-section">
        <h1><strong><a href="{% url 'home' %}"><img src="/static/logo.jpg" alt="Photo" class="logo"></a></strong></h1>
        <h1><strong><a href='https://g20.mygov.in/'><img src="/static/Capture.JPG" alt="Photo" class="capture"></a><strong></h1>
    </div>

    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'about' %}">About Us</a>
        <a href="{% url 'contact' %}">Contact Us</a>
        {% if user.is_authenticated %}
          
            <a href="{% url 'logout'%}"> Log out</a>
            <a> Welcome: {{user.username}}</a>
          
            {% else %}
            <a href="{% url 'login' %}"><span class="glyphicon glyphicon-user"></span>Login</a> 

            {% endif %}
    </nav>

    
    
    {% block content %}
    <button><a href="{% url 'school_list' %}">School List</a></button>
    {% endblock %}
</body>
</html>
