

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CBSE</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
</head>
<body>
    
    <h1><strong><a href="{% url 'home' %}"><img src=" static/logo.jpg  " alt="Photo"></a></strong></h1>
    <h1><strong><a href='https://g20.mygov.in/'><img src= "static/Capture.jpg" alt="Photo"></a><strong></h1>
    
</body>



{% block content %}


<a href="about.html">About us</a>
<a href="contact.html">Contact us</a>
<p><strong>Visit schools affliated with us, see below!</strong></p>
<button><a href="{% url "school_list" %}">School List</a></button>


    {% endblock  %}


</html>