{% extends 'base.html' %}
{% load static %}  


{% block content %}
    
    <ul>
        {% for item in school_list %}
        <li>
            <a href="{% url 'detail' item.pk %}">{{ item.school_name }}</a> - {{ item.state }}
            <a href="{% url 'update_school' item.pk %}">Update</a>
            <form method="post" action="{% url 'detail' item.pk %}">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        </li>
        {% endfor %}
    </ul>

    <button><a href="{% url 'create_school' %}">Click to Add School</a></button>
    <button><a href="{% url 'create_teacher' %}">Click to Add Teacher</a></button>
    <button><a href="{% url 'create_student' %}">Click to Add Student</a></button>
{% endblock %}

